* {
    margin: 0%;
    padding: 0%;
}

#nombre{
    margin-left: 10%;
}

h1 {
    color:rgba(0, 0, 0, 0.623) ;
    margin-left: auto;
    font-size: 50px;
    margin-bottom: 50px;
  
}
section{
    margin-top: 50px;
}

body {
background: linear-gradient(to right, #5dc2cf, #07a79f);

}

.foto {
    width: 706px;
    margin-left: 10%;
    box-shadow: rgb(0, 0, 0) 10px 13px 37px;
   }


.soy {
    background-color: transparent;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    border-radius: 20px;
}

body>div.soy>h2 {
    text-align: center;
    color:rgba(0, 0, 0, 0.623);
}

p {
    font-size: 20px;
    color:rgba(0, 0, 0, 0.705);
}


body>button {
    
    background-color: transparent;
    margin-left: 45%;
    border: color white 3px;
    
}

body>button>a {
    text-decoration: none;
    padding: 30px 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 20px;
}

body>button:hover {
    background-color: #4c8585;
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
}

body>button>a:hover {
    color:rgb(0, 0, 0)
}

#T1 {
    font-size: 30px;
    /* margin-left: 40%; */
    text-align: center;
    color:rgba(0, 0, 0, 0.623);
}

#T2 {
    font-size: 30px;
    /* margin-left: 40%; */
    text-align: center;
    color:rgba(0, 0, 0, 0.623);
}
/* body > div.servicios {
    margin-bottom: 50PX;
} */

/* body>div.servicios>div>img {
    margin-top: 50px;
    margin-left: 10%;
    float: left;
    width: 480px;
 } */

body>div.servicios>div>img {
    margin-top: 50px;
    margin-left: 3%;
    margin-right: 3%;
    float: left;
    width: 44%;
}



body > div.soy > p {

    color:rgba(0, 0, 0, 0.849)
}


body > div.servicios > div > img:nth-child(10){
    margin-bottom: 50px;
}


/* body > div.servicios > div > img:nth-child(13){
    margin-bottom: 50px;
} */


/* body>div.servicios>div>img:nth-child(5) {
    margin-right: 7%;
    float: right;
    width: 480px;
}

body>div.servicios>div>img:nth-child(6) {
    margin-top: 90px;
    margin-right: 7%;
    float: right;
    width: 480px;
} */


/* body > div.servicios > div.T1 > img:nth-child(12){
    margin-bottom: 50px;
} */


body>div.servicios>button{
    float: none;
    background-color: #4c8585;
    box-shadow: 50px 13px 37px #000;
    margin-left: 45%;
    border: color white 3px;
}

body>div.servicios>button a {
    text-decoration: none;
    padding: 30px 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 20px;
}

body>div.servicios>button:hover {
    background-color: transparent;
}

body>div.servicios>button a:hover{
    color:rgb(0, 0, 0);
}

.contactBody {
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}

.title {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    padding-bottom: 10px;
    font-size: 42px;
    color: rgb(252, 252, 252);
}

#title-Tag-Line {
    font-size: 20px;
}

/* centrado del formulario */

.wrapper {
    width: 80%;
    height: 50%;
    margin: 5% auto 0 auto;
}

/* animacion del formulario */

.form {
    background: #EBEBEB;
    text-align: center;
    box-shadow: 0px 0px 20px 5px #AAA;
    border-radius: 10px;
    width: 45%;
    height: 400px;
    margin: 30px auto 0 auto;
    padding: 10px 10px;
    animation: bounce 1.5s infinite;
}

.name {
    background-color:rgb(166, 221, 212);
    color: white;
    width: 300px;
}

::-webkit-input-placeholder {
    color:rgba(0, 0, 0, 0.623);
    font-size: 20px;
}

.name:hover {
    background-color: #2DD7BB;
    border-bottom: 5px solid #2BB09A;
    height: 30px;
    width: 400px;
}

.email {
    background-color:rgb(166, 221, 212);
    height: 50px;
    width: 300px;
}

.email:hover {
    background-color: #2DD7BB;
    border-bottom: 5px solid #2BB09A;
    height: 30px;
    width: 380px;
}

.message {
    background-color:rgb(166, 221, 212);
    overflow: hidden;
    height: 100px;
    width: 300px;
}

.message:hover {
    background-color: #2DD7BB;
    border-bottom: 5px solid #2BB09A;
    height: 100px;
    width: 370px;
}

/*  .submit {
    border-radius: 5px;
    padding: 10px;
    background-color: #2DD7BB;
    border: none;
    border-bottom: 5px solid #CB64B2;
    transform: translateY(-120px);
}  */



.entry {
    display: block;
    margin: 30px auto;
    padding: 10px;
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease 0s;
    box-shadow: 0px 0px 25px 2px gray;
}

/* Shadow to make it look like form is floating */

/* .shadow {
    box-shadow: 0px 0px 60px 5px #AAA;
    opacity: 0.5;
    border-radius: 100px;
    width: 50%;
    margin: 50px auto 0 auto;
    padding: 0 20px;
    animation: shadow 1.5s infinite;
} */

.submit {
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    color: white;
    background-color: #75908a;
    border: none;
    /* border-bottom: 5px solid #CB64B2; */
    margin-top: 60px;
} 
.submit:hover { 
    background-color: #2DD7BB;
    color:black;
    /* border-bottom: 5px solid #2BB09A; */
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);

}

/* .submit:hover {
    border-bottom: 5px solid #CB64B2;
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);

} */
body>div.servicios>div.wrapper {
    margin-bottom: 200px;
}

@keyframes bounce {
    0% {}
    50% {
        transform: translate(0, 8px);
    }
}

@keyframes shadow {
    0% {}
    50% {
        opacity: 0.8;
        width: 50%;
    }
}

#carroussel{
    margin: 0 auto;
}