* {
    margin: 0%;
    padding: 0%;
}

/* aca estan los botones animados de la barra de navegacion*/

:root {
    --facebook: #3b5999;
    --whatsapp: #00bb2d;
    --instagram: #de1b85;
    --twitter: #00acee;
    --telegram: #0088cc;
}

#navbarText>div {
    margin: 0;
    margin-bottom: 2px;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    height: 35px;
    width: 300px;
    align-items:center;
    justify-content: center;
    
}

#navbarText>div>ul>li {
    display: inline-block;
    /* margin: 0 5px; */
    width: 50px;
    height: 35 px;
    text-align: center;
}

#navbarText>div>ul {
    margin-bottom: 0%;
}

#navbarText>div>ul>li>a {
    display: block;
    width: 35px;
    height: 35px;
    padding: 0 10px;
    background-color: rgb(175, 175, 175);
    color: white;
    line-height: 35px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0px gainsboro;
    transition: .2s;
    border-radius: 50%;
    
}

/* #navbarText>div>ul:hover>li>a {
    filter: blur(2px);
} */

#navbarText>div>ul>li>a:hover {
    transform: translate(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 4);
    filter: none;
}

#navbarText>div>ul>li>.facebook:hover {
    background-color: var(--facebook);
}

#navbarText>div>ul>li>.instagram:hover {
    background-color: var(--instagram);
}

#navbarText>div>ul>li>.twitter:hover {
    background-color: var(--twitter);
}

#navbarText>div>ul>li>.telegram:hover {
    background-color: var(--telegram);
}

#navbarText>div>ul>li>.whatsapp:hover {
    background-color: var(--whatsapp);
}

#nombre {
    margin-left: 10%;
}

h1 {
    color: rgba(0, 0, 0, 0.623);
    margin-left: auto;
    font-size: 50px;
    margin-bottom: 50px;
}

section {
    margin-top: 50px;
}

body {
    background: linear-gradient(to right, #5dc2cf, #07a79f);
}

body>div.foto>img {
    margin-top: 50px;
    margin-left: 10%;
    width: 44%;
    box-shadow: rgb(0, 0, 0) 10px 13px 37px;
}

.soy {
    background-color: transparent;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    border-radius: 20px;
}

body>div.soy>h2 {
    text-align: center;
    color: rgba(0, 0, 0, 0.623);
}

p {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.705);
}

body>button {
    margin-left: 45%;
    border-radius: 5px;
    width: 150px;
    color: white;
    background-color: #75908a;
    border: none;
    margin-top: 40px;
    /* height:20px;  */
    width: 150px;
    margin: -20px -75px;
    position: relative;
    top: 50%;
    left: 50%;
}

body>button>a {
    text-decoration: none;
    padding: 30px 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.712);
    font-size: 20px;
}

body>button:hover {
    background-color: #4c8585;
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
}

body>button>a:hover {
    color: rgb(0, 0, 0)
}

#T1 {
    font-size: 30px;
    text-align: center;
    color: rgba(0, 0, 0, 0.623);
}

body>div.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body>div.container>img {
    margin-top: 50px;
    margin-left: 3%;
    margin-right: 3%;
    float: none;
    width: 43%;
}

body>div.soy>p {
    color: rgba(0, 0, 0, 0.849)
}

body>div.servicios>div>img:nth-child(10) {
    margin-bottom: 50px;
}

#contacto>h1 {
    font-size: 30px;
    text-align: center;
    color: rgba(0, 0, 0, 0.623);
}

.contactBody {
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}

.title {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    padding-bottom: 10px;
    font-size: 42px;
    color: rgb(252, 252, 252);
}

#title-Tag-Line {
    font-size: 20px;
}

/* centrado del formulario */

.wrapper {
    width: 80%;
    height: 50%;
    margin: 5% auto 0 auto;
}

/* animacion del formulario */

.form {
    background: #EBEBEB;
    text-align: center;
    box-shadow: 0px 0px 20px 5px #AAA;
    border-radius: 10px;
    width: 45%;
    height: 400px;
    margin: 30px auto 0 auto;
    padding: 10px 10px;
    animation: bounce 1.5s infinite;
}

.name {
    background-color: rgb(166, 221, 212);
    color: black;
    width: 300px;
}

::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.623);
    font-size: 20px;
}

.name:hover {
    background-color: #2DD7BB;
    border-bottom: 5px solid #2BB09A;
    height: 30px;
    width: 400px;
}

.email {
    background-color: rgb(166, 221, 212);
    height: 50px;
    width: 300px;
}

.email:hover {
    background-color: #2DD7BB;
    border-bottom: 5px solid #2BB09A;
    height: 30px;
    width: 380px;
}

.message {
    background-color: rgb(166, 221, 212);
    overflow: hidden;
    height: 100px;
    width: 300px;
}

.message:hover {
    background-color: #2DD7BB;
    border-bottom: 5px solid #2BB09A;
    height: 100px;
    width: 370px;
}

.entry {
    display: block;
    margin: 30px auto;
    padding: 10px;
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease 0s;
    box-shadow: 0px 0px 25px 2px gray;
}

.submit {
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    color: white;
    background-color: #75908a;
    border: none;
    margin-top: 60px;
}

.submit:hover {
    background-color: #2DD7BB;
    color: black;
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
}

#carroussel {
    margin: 0 auto;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog>div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: #00d9ff;
}

#navbarText>button>a {
    text-decoration: none;
    color: rgb(75, 75, 75);
}

#navbarText>button:hover>a {
    color: white;
}

#navbarText > button{
margin-top: 2px;
}